// Цвета
$primary-color: #ffe81f;
$secondary-color: #000;
$background-color: #000;
$text-color: #fff;
$text-secondary: #ccc;
$background-dark: dark;
$text-dark: #000000;
$text-light: #ffffff;

// Теги
$tag-male: #4caf50;
$tag-female: #ff4081;
$tag-hermaphrodite: #9c27b0;
$tag-birth: #2196f3;

// Отступы
$spacing-xs: 0.5rem;
$spacing-sm: 1rem;
$spacing-md: 1.5rem;
$spacing-lg: 2rem;
$spacing-xl: 3rem;

// Брейкпоинты для медиазапросов в миксинах
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1200px;
$breakpoint-max: 2560px;
