.header {
  background-color: rgba(0, 0, 0, 0.9);
  padding: $spacing-md 0;
  border-bottom: 2px solid $primary-color;
  position: sticky;
  top: 0;
  z-index: 10;

  &__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 $spacing-md;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    height: 68px;
    margin: 0;
    font-size: 1.8rem;
    border-radius: 50%;

    &:hover {
      height: 68px;
      box-shadow: 0 0px 40px #ffe81f, 0px 0px 0px #ffe81f;
      border-radius: 50%;
      transition: all 0.2s ease;
    }
  }
}
