.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: $spacing-xl 0;

  &__spinner {
    width: 50px;
    height: 50px;
    border: 5px solid rgba(255, 232, 31, 0.3);
    border-radius: 50%;
    border-top-color: $primary-color;
    animation: spinner 1s ease-in-out infinite;
    margin-bottom: $spacing-md;
  }

  .css-1wxecgq-MuiCircularProgress-root {
    border-radius: 50%;
    border-top-color: $primary-color;
    animation: spinner 1s ease-in-out infinite;
    margin-bottom: $spacing-md;
    color: $primary-color;
  }

  &__text {
    color: $primary-color;
    font-size: 1.2rem;
  }
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
