.navigation {
  background-color: rgba(0, 0, 0, 0.8);
  padding: $spacing-sm 0;
  margin-left: 8rem;

  &__list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  &__item {
    margin: 0 $spacing-lg;

    &__separator {
      &::after {
        position: relative;
        right: -14px;
        color: $primary-color;
        content: "|";
      }
    }
  }

  &__link {
    color: $text-color;
    text-decoration: none;
    font-size: 1.1rem;
    padding: $spacing-sm $spacing-md;
    transition: all 0.3s ease;
    border-radius: 10px;
    border: 1px solid transparent;

    &:hover {
      color: $primary-color;
      background-color: $primary-bgc-btn;
      border: 1px solid $primary-color;
      border-radius: 20px;
      transition: all 0.3s ease;
    }

    &--active {
      color: $primary-color;
      background-color: $primary-bgc-btn;
      border: 1px solid $primary-color;
      border-radius: 20px;
      transition: all 0.3s ease;
      font-weight: bold;
    }
  }
}
