.home-page {
  @include flex-center;
  min-height: calc(100vh - 200px);
  text-align: center;
  padding: $spacing-xl;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include respond-to("md") {
    margin-top: 70px;
  }

  @include respond-to("lg") {
    text-align: justify;
    flex-direction: row;
  }

  &__content {
    max-width: 800px;

    @include respond-to("lg") {
      min-height: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__title {
    color: $primary-color;
    font-size: 2.5rem;
    margin-bottom: $spacing-md;
  }

  &__description {
    font-size: 1.2rem;
    margin-bottom: $spacing-md;
    line-height: 1.6;
  }

  &__button {
    @include button-primary;
    text-decoration: none;
    font-size: 1.1rem;
    padding: $spacing-md $spacing-xl;

    @include respond-to("lg") {
      font-size: 15px;
      padding: 1rem 1.5rem;

      position: relative;
      top: 240px;
      left: -200px;
    }
  }

  &__banner {
    position: relative;
    right: -69px;
    padding-top: 4rem;
    width: 36%;

    @include respond-to("lg") {
      width: 65%;
    }

    @include respond-to("md") {
      right: 5px;
      width: 70%;
    }
  }
}
